/* Reseteo básico de márgenes y relleno */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y fuente global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
    line-height: 1.6;
}

/* Estilos del header */
header {
    background-color: #333; /* Gris oscuro para el fondo del header */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Navegación */
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 10px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #dcdcdc; /* Gris claro cuando el enlace se pasa */
}

/* Sección de información */
#informacion {
    background-color: #ffffff; /* Fondo blanco */
    padding: 40px 0;
    text-align: center;
}

#informacion h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

#informacion p {
    font-size: 1.2rem;
    color: #666;
}

/* Sección de reservar cita */
#reservar {
    background-color: #f9f9f9; /* Fondo gris muy claro */
    padding: 40px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

#reservar h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #333;
}

input[type="text"], input[type="tel"], input[type="email"], select, input[type="datetime-local"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
}

input[type="submit"] {
    background-color: #333; /* Gris oscuro para el fondo del botón */
    color: white;
    padding: 12px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555; /* Gris intermedio cuando se pasa el cursor */
}

/* Estilos del footer */
footer {
    background-color: #333; /* Gris oscuro */
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    margin-top: 30px;
}

footer p {
    margin: 0;
}

/* Media Query para dispositivos pequeños */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .cta .btn {
        padding: 12px 20px;
    }

    #informacion p {
        font-size: 1rem;
    }

    #reservar form {
        width: 100%;
    }
}
